:root {
  /*Primary*/
  --color-red: hsl(0, 100%, 74%);
  --color-green: hsl(154, 59%, 51%);
  /*Accent*/
  --color-blue: hsl(248, 32%, 49%);

  /*Neutral*/
  --color-darkdbue: hsl(249, 10%, 26%);
  --color-grayish-blue: hsl(246, 25%, 77%);

  --font-size-medium: 16px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --color-white:white;
  --color-black: black;
  --color-gray: hsl(0deg, 1%, 24%, 0.39);
  --color-darkgray: hsl(0deg, 1%, 24%, .79);
  --color-darkgreen: hsl(154deg, 61%, 44%);

  --font: 'Poppins', sans-serif;
}

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
}

/*General*/
body {
  font-family: var(--font);
  font-size: var(--font-size-medium);
  background-image: url('../images/bg-intro-mobile.png');
  background-repeat: no-repeat;
  background-color: var(--color-red);
  color: var(--color-white);
  margin: 0;
  padding:0;
}

a {
  text-decoration: none;
}

.container-flex {
  width: 85%;
  margin: 20vh auto 15vh auto;
  display:flex;
  flex-direction:column;
}

.hidden {
  display:none;
}

.error {
  margin-bottom: 20px!important;
  border: 2px solid var(--color-red);
  border-radius: 5px;
}

.error input::placeholder {
  color: var(--color-red)!important;
}

.input-error {
  position: absolute;
  top: 15px;
  right: 15px;
  max-width: 100%;
}

.input-icon {
  width: 87%;
}

.input-error-text {
  margin: 5px 0 0 0;
  color: var(--color-red);
  font-size: .59em;
  font-weight: var(--font-weight-regular);
  text-align: right;
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url('../images/bg-intro-desktop.png');
  }

  .container-flex {
    max-width: 1440px;
    margin: 15vh auto 10vh auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: [start] 50px [row1] 10px [row2] 1fr [row3] 1fr [row4] 1fr [end];
    justify-content: center;
    align-items:center;
  }
}
