.hidden {
  display:none;
}

.error {
  margin-bottom: 25px!important;
  border: 2px solid var(--color-red)!important;
  border-radius: 5px;
}

.error input::placeholder {
  color: var(--color-red)!important;
}

.input-error {
  position: absolute;
  top: 15px;
  right: 15px;
  max-width: 100%;
}

.input-icon {
  width: 87%;
}

.input-error-text {
  margin: 8px 0 0 0;
  color: var(--color-red);
  font-size: .68em;
  font-weight: var(--font-weight-regular);
  text-align: right;
}
.signup-form {
  height: 100%;
  max-height: 470px;
  padding-top: 1em;
  background-color: var(--color-white);
  border-radius: 7px;
  box-shadow: 0 6.5px 2px var(--color-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form-input {
  width: 85%;
  height: 100%;
  margin: 10px auto;
  max-height: 50px;
  position: relative;
  border-radius: 3px;
  border: 1px solid var(--color-grayish-blue);
}

.signup-form-input input {
  width: 100%;
  height: inherit;
  padding: 15px 18px;
  border: none;
  color: var(--color-darkgray);
  font-weight: var(--font-weight-semi-bold);
}

.signup-form input:focus {
  box-shadow: 0 0 1px var(--color-darkgray);
}

.signup-form input::placeholder {
  color: var(--color-darkgray);
  font-weight: var(--font-weight-bold);
}
