@media screen and (min-width: 1024px) {
  body {
    background-image: url('../images/bg-intro-desktop.png');
  }

  .container-flex {
    margin: 15vh auto 10vh auto;
    display: grid;
    grid-template-columns: repeat(2, 70vh);
    grid-template-rows: [start] 50px [row1] 10px [row2] 1fr [row3] 1fr [row4] 1fr [end];
    justify-content: center;
    align-items:center;
  }
  
  .intro {
    grid-row: row2 / span end;
    text-align: left;
    width: 90%;
    margin: auto;
  }

  .intro-title {
    font-size: 3.4em;
    letter-spacing:  -2px;
    margin-bottom: 25px;
    
  }
  .signup {
    grid-row: start / span end;
    width: 85%;
    margin: auto;
  }

  .signup-form {
    height: 415px;
  }

  .signup-box {
    margin-bottom: 20px;
    padding: 20px 1em 15px 1em;
  }

  .form-text {
    width: 80%;
    margin-top: 0;
  }

  .signup-form button {
    padding: 1.3em 15px 12px 15px;
  }
}
