:root {
  /*Primary*/
  --color-red: hsl(0, 100%, 74%);
  --color-green: hsl(154, 59%, 51%);
  /*Accent*/
  --color-blue: hsl(248, 32%, 49%);

  /*Neutral*/
  --color-darkdbue: hsl(249, 10%, 26%);
  --color-grayish-blue: hsl(246, 25%, 77%);

  --font-size-medium: 16px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --color-white: white;
  --color-black: black;
  --color-gray: hsl(0deg, 1%, 24%, 0.39);
  --color-darkgray: hsl(0deg, 1%, 24%, 0.79);
  --color-darkgreen: hsl(154deg, 61%, 44%);
  --color-lightgreen: hsl(154deg, 61%, 44%, 75%);

  --font: "Poppins", sans-serif;
}

/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

/*General*/
body {
  font-family: var(--font);
  font-size: var(--font-size-medium);
  background: url("./images/bg-intro-mobile.png") no-repeat var(--color-red);
  background-position: top center;
  color: var(--color-white);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container-flex {
  /*background-color: hsl(154deg, 61%, 44%, 75%);*/
  width: 85%;
  max-width: 555px;
  margin: 15vh auto;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  body {
    background-position: -25px -60px;
    background-repeat: repeat;
    background-image: url("./images/bg-intro-desktop.png");
    /*    overflow: hidden; */
  }
  .container-flex {
    margin: 10vh auto;
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: auto;
    grid-template-areas:
      ". promo"
      "intro form";
    justify-content: center;
    align-items: center;
  }
}
