.form-text {
  width: 75%;
  margin: auto;
  color: var(--color-grayish-blue);
  font-weight: var(--font-weight-semi-bold);
  text-align: center;
  line-height: 2;
}

.form-text p,
.form-text a {
  font-size: 0.65rem;
}

.form-text a {
  color: var(--color-red);
  font-weight: var(--font-weight-bold);
}

.form-text a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1024px) {
  .form-text {
    width: 80%;
    margin-top: 0;
  }

  .form-text p,
  .form-text a {
    font-size: 0.5rem;
  }
}
