.signup-box {
  width: 100%;
  padding: 15px 1em;
  margin: 0 auto 5vh auto;
  background-color: var(--color-blue);
  text-align: center;
  border-radius: 7px;
  box-shadow: 0 7px 2px var(--color-gray);
}

.signup-box-text {
  width: inherit;
  margin: auto;
  font-size: 0.8rem;
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
}

.signup-box-text span {
  font-weight: var(--font-weight-semi-bold);
}

@media screen and (min-width: 1024px) {
  .signup-box {
    grid-area: promo;
    width: 100%;
    max-width: 445px;
    margin: 0 0 20px 0;
    padding: 15px 0;
  }
}
