.hidden {
  display: none;
}

.error {
  margin-bottom: 35px !important;
  border: 2px solid var(--color-red) !important;
  border-radius: 5px;
}

.error input:focus {
  border: none !important;
}

.error input::placeholder {
  color: var(--color-red) !important;
  content: "";
}

.input-error {
  position: absolute;
  top: 15px;
  right: 15px;
  max-width: 100%;
}

.input-icon {
  width: 87%;
}

.input-error-text {
  margin: 8px 0 0 0;
  color: var(--color-red);
  font-size: 0.68rem;
  font-weight: var(--font-weight-regular);
  text-align: right;
}

.signup-form-input {
  width: 85%;
  height: 100%;
  margin-bottom: 15px;
  max-height: 50px;
  position: relative;
  border-radius: 3px;
  border: 1px solid var(--color-grayish-blue);
}

.signup-form-input input {
  width: 100%;
  height: inherit;
  padding: 15px 18px;
  border: none;
  outline: none;
  color: var(--color-darkgray);
  font-weight: var(--font-weight-semi-bold);
}

.signup-form input:focus {
  box-shadow: 0 0 1px var(--color-darkgray);
  border: none;
  border: 1px solid var(--color-gray);
  border-radius: 3px;
}

.signup-form input::placeholder {
  color: var(--color-darkgray);
  font-weight: var(--font-weight-bold);
}
